<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	<context:component-scan base-package="main.com.xworkz.springmvc.calamities" />
    
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="internalResourceViewResolver">
		<property name="prefix" value="/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="1"></property>
	</bean>
	
	
    
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="driverManagerDataSource">
		  <property name="driverClassName" value="${datasource.driverClassName}"></property>
		<property name="username" value="${datasource.username}"></property>
		<property name="password" value="${datasource.password}"></property>
		<property name="url" value="${datasource.url}"></property>

	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" id="propertyPlaceholderConfigurer">
	<property name="location" value="classpath:config.properties"></property>
	</bean>
	
	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="localSessionFactoryBean">
	 <property name="configLocations" value="classpath:hibernate.cfg.xml" /> 
	<property name="dataSource" ref="driverManagerDataSource"></property> 
	</bean>
	
</beans>


